<footer>
    <div class="text-center content">
        <ul class="list-inline social">
            <li>
                <a href="https://twitter.com/Real_DuckThom" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/DuckThom" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/thomaswiringa" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="copyright text-center text-muted">
        &copy; {{ 'now'|date('Y') }} {{ setting_value('streams::name', 'Your Site') }}, All rights reserved.
    </div>
</footer>
