{% extends layout('default') %}

{% block content %}
    <div id="posts">
        {% set posts = entries('posts').recent().paginate() %}

        {% include "theme::partials/posts/items" with {"posts": posts} %}

        {{ posts.links|raw }}
    </div>
{% endblock %}