.navbar {
  height: $navbar-height;
  transition: all 200ms;

  .navbar-brand {
    transition: all 200ms;
  }

  &.navbar-top {
    transition: all 200ms;
    height: $navbar-height-top;

    .navbar-brand {
      transition: all 200ms;
      font-size: ($navbar-font-size-top * 1.5);
      font-weight: 500;
      padding-top: $navbar-padding-vertical-top;
      padding-bottom: $navbar-padding-vertical-top;
    }

    .nav a {
      transition: all 200ms;
      font-size: $navbar-font-size-top;
      padding-top: $navbar-padding-vertical-top;
      padding-bottom: $navbar-padding-vertical-top;
    }
  }

  .nav a {
    transition: all 200ms;
    font-size: $navbar-font-size;
  }
}